body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c2966 !important;
    padding: 15px;
    text-align: center;
}



.container {
    background-color: #fff;
   
}
nav h1 {
        display: inline-block;
}
nav {
    background-color: #2c2966;
    padding: 10px;
    border-bottom: 1px solid #ddd;
        display: inline-block;
    width:100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
        display: inline-block;
        margin-left: 100px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.main-content {
    display: flex;
}

.user-info {
    
    padding: 20px;
    border-right: 1px solid #ddd;
    display: inline-block;
    float:right;
}

.user-info p {
    margin-top: 10px;
}

.content-wrapper {
    flex-basis: 80%;
    padding: 20px;
}

.sidebar {
    margin-bottom: 20px;
}

.sidebar h2, .content h2 {
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
 footer {
            background-color: #2c2966 !important;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }
